@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
}

body {
  @apply bg-slate-900 text-slate-100;
}

.scrollbar::-webkit-scrollbar { width: 8px; height: 8px; }
.scrollbar::-webkit-scrollbar-thumb { background: #475569; border-radius: 4px; }
.scrollbar { scrollbar-color: #475569 transparent; scrollbar-width: thin; }

